body{
font-family: 'Gotham';
font-size: 14px;
color: black;
background-color:none;
text-align: center;
margin: auto;
opacity:50%;

}


h1{
font-size: 90px;
padding-top: 50px;
line-height:100px;
margin: auto;

}

h2{
font-size:80px;
color:rgb(110, 188, 64);
padding-top: 0px;
font-family: 'Gotham';
margin:auto;
}


p{
margin:auto;
padding:50px;
}



