body{
font-family: 'Gotham';
font-size: 14px;
color: black;
background-color:none;
text-align: center;
margin: auto;
opacity:50%;

}


h1{
font-size: 90px;
padding-top: 50px;
line-height:100px;
margin: auto;

}

h3{
font-size:50px;
color:rgb(110, 188, 64);
padding-top: 20px;
font-family: 'Gotham';
margin:auto;
}

nav Ul{
display: inline-block;
margin:0px;
}

p{
font-family: 'Gotham';
color: green;
padding:10px;
width: 40%;
margin:auto;
padding:0px;
line-height:20px;
}





li{
padding:30px;
}